# ========================================================
# SUPABASE CONFIGURATION (PROD & DEV)
# ========================================================
VITE_SUPABASE_URL=https://ixwcdkkskhcmwdopexwt.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_PcHTPrXgoKsYikSqdzUYPQ_YjElfxwh

# ========================================================
# EXCHANGE RATE API CONFIGURATION
# ========================================================
VITE_EXCHANGE_API_URL=https://open.er-api.com/v6/latest/USD
